body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html {
  min-height: 100vh;
  width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../assets/estrellas.png");
    background-color: #e9c97c;
    overflow: hidden;
    height: 100dvh;
    width: 100%;
  }
  
  p {
    margin: 0;
  }
  
  h1 {
    margin: 0;
  }
  
  h2 {
    margin: 0;
  }
  
  time {
    color: rgb(80, 80, 80);
  }
