/* --> #Maria1 */

#Maria1:checked + #Maria2:not(:checked) ~ #Jose1:checked + #Jose2:not(:checked) ~ .error-message,

#Maria1:checked + #Maria2:not(:checked) ~ #Jose1:not(:checked) + #Jose2:checked ~ .error-message,

 

#Maria1:checked + #Maria2:not(:checked) ~ #Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ .error-message,

#Maria1:checked + #Maria2:not(:checked) ~ #Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ .error-message,

 

#Maria1:checked + #Maria2:not(:checked) ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Maria1:checked + #Maria2:not(:checked) ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Maria1:checked + #Maria2:not(:checked) ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Maria1:checked + #Maria2:not(:checked) ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Maria1:checked + #Maria2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Maria1:checked + #Maria2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Maria1:checked + #Maria2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Maria1:checked + #Maria2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Maria1:checked + #Maria2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Maria1:checked + #Maria2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Maria2 */





#Maria1:not(:checked) + #Maria2:checked ~ #Jose1:checked + #Jose2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Jose1:not(:checked) + #Jose2:checked ~ .error-message,

 

#Maria1:not(:checked) + #Maria2:checked ~ #Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ .error-message,

 

#Maria1:not(:checked) + #Maria2:checked ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Maria1:not(:checked) + #Maria2:checked ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Maria1:not(:checked) + #Maria2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Maria1:not(:checked) + #Maria2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Maria1:not(:checked) + #Maria2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Jose1 */





#Maria1:checked + #Maria2:not(:checked) ~ #Jose1:checked + #Jose2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Jose1:checked + #Jose2:not(:checked) ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ .error-message,

#Jose1:checked + #Jose2:not(:checked) ~ #Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Jose1:checked + #Jose2:not(:checked) ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Jose1:checked + #Jose2:not(:checked) ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Jose1:checked + #Jose2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Jose1:checked + #Jose2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Jose1:checked + #Jose2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Jose2 */





#Maria1:checked + #Maria2:not(:checked) ~ #Jose1:not(:checked) + #Jose2:checked ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Jose1:not(:checked) + #Jose2:checked ~ .error-message,

 

#Jose1:not(:checked) + #Jose2:checked ~ #Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ .error-message,

 

#Jose1:not(:checked) + #Jose2:checked ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Jose1:not(:checked) + #Jose2:checked ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Jose1:not(:checked) + #Jose2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Jose1:not(:checked) + #Jose2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Jose1:not(:checked) + #Jose2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Nino-Dios1 */





#Maria1:checked + #Maria2:not(:checked) ~ #Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Nino-Dios2 */





#Maria1:checked + #Maria2:not(:checked) ~ #Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ .error-message,

 

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Melchor1 */





#Maria1:checked + #Maria2:not(:checked) ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Melchor1:checked + #Melchor2:not(:checked) ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Melchor1:checked + #Melchor2:not(:checked) ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Melchor1:checked + #Melchor2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Melchor1:checked + #Melchor2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Melchor1:checked + #Melchor2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Melchor2 */





#Maria1:checked + #Maria2:not(:checked) ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Melchor1:not(:checked) + #Melchor2:checked ~ .error-message,

 

#Melchor1:not(:checked) + #Melchor2:checked ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Melchor1:not(:checked) + #Melchor2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Melchor1:not(:checked) + #Melchor2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Melchor1:not(:checked) + #Melchor2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Gaspar1 */





#Maria1:checked + #Maria2:not(:checked) ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Gaspar1:checked + #Gaspar2:not(:checked) ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Gaspar2 */





#Maria1:checked + #Maria2:not(:checked) ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Gaspar1:not(:checked) + #Gaspar2:checked ~ .error-message,

 

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Baltazar1 */





#Maria1:checked + #Maria2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Baltazar1:checked + #Baltazar2:not(:checked) ~ .error-message,

 

#Baltazar1:checked + #Baltazar2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Baltazar1:checked + #Baltazar2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Baltazar1:checked + #Baltazar2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Baltazar1:checked + #Baltazar2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Baltazar2 */





#Maria1:checked + #Maria2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Baltazar1:not(:checked) + #Baltazar2:checked ~ .error-message,

 

#Baltazar1:not(:checked) + #Baltazar2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Baltazar1:not(:checked) + #Baltazar2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Baltazar1:not(:checked) + #Baltazar2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Baltazar1:not(:checked) + #Baltazar2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Pastor1 */





#Maria1:checked + #Maria2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

 

#Baltazar1:checked + #Baltazar2:not(:checked) ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

#Baltazar1:not(:checked) + #Baltazar2:checked ~ #Pastor1:checked + #Pastor2:not(:checked) ~ .error-message,

 

#Pastor1:checked + #Pastor2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Pastor1:checked + #Pastor2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Pastor2 */





#Maria1:checked + #Maria2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Baltazar1:checked + #Baltazar2:not(:checked) ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

#Baltazar1:not(:checked) + #Baltazar2:checked ~ #Pastor1:not(:checked) + #Pastor2:checked ~ .error-message,

 

#Pastor1:not(:checked) + #Pastor2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Pastor1:not(:checked) + #Pastor2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,





/* --> #Mula-Buey1 */





#Maria1:checked + #Maria2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

 

#Baltazar1:checked + #Baltazar2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Baltazar1:not(:checked) + #Baltazar2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

 

#Pastor1:checked + #Pastor2:not(:checked) ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,

#Pastor1:not(:checked) + #Pastor2:checked ~ #Mula-Buey1:checked + #Mula-Buey2:not(:checked) ~ .error-message,





/* --> #Mula-Buey2 */





#Maria1:checked + #Maria2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

#Maria1:not(:checked) + #Maria2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

 

#Jose1:checked + #Jose2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

#Jose1:not(:checked) + #Jose2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

 

#Nino-Dios1:checked + #Nino-Dios2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

#Nino-Dios1:not(:checked) + #Nino-Dios2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

 

#Melchor1:checked + #Melchor2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

#Melchor1:not(:checked) + #Melchor2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

 

#Gaspar1:checked + #Gaspar2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

#Gaspar1:not(:checked) + #Gaspar2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

 

#Baltazar1:checked + #Baltazar2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

#Baltazar1:not(:checked) + #Baltazar2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

 

#Pastor1:checked + #Pastor2:not(:checked) ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message,

#Pastor1:not(:checked) + #Pastor2:checked ~ #Mula-Buey1:not(:checked) + #Mula-Buey2:checked ~ .error-message {
  display: flex;
  animation: display 0.5s;
}


@keyframes display {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}