@keyframes randomize-cards {
  0% {
    grid-template-areas: 
      "luigi-1 mc-queen-2 mate-1 sally-2"
      "guido-1 jackson-2 hicks-1 fillmore-2"
      "mc-queen-1 mate-2 sally-1 luigi-2"
      "jackson-1 guido-2 fillmore-1 hicks-2"
      ;
  }
  25% {
    grid-template-areas: 
      "mc-queen-1 luigi-2 sally-1 mate-2"
      "guido-1 hicks-2 fillmore-1 jackson-2"
      "luigi-1 mc-queen-2 mate-1 sally-2"
      "hicks-1 guido-2 jackson-1 fillmore-2"
      ;
  }
  50% {
    grid-template-areas: 
      "guido-1 hicks-2 fillmore-1 jackson-2"
      "mc-queen-1 luigi-2 sally-1 mate-2"
      "hicks-1 guido-2 jackson-1 fillmore-2"
      "luigi-1 mc-queen-2 mate-1 sally-2"
      ;
  }
  75% {
    grid-template-areas: 
      "hicks-1 guido-2 jackson-1 fillmore-2"
      "guido-1 hicks-2 fillmore-1 jackson-2"
      "mc-queen-1 luigi-2 sally-1 mate-2"
      "luigi-1 mc-queen-2 mate-1 sally-2"
      ;
  }
  100% {
    grid-template-areas: 
      "sally-1 mate-2 mc-queen-1 luigi-2"
      "fillmore-1 jackson-2 guido-1 hicks-2"
      "mate-1 sally-2 luigi-1 mc-queen-2"
      "jackson-1 fillmore-2 hicks-1 guido-2"
      ;
  }
}
.memorama-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  min-height: 600px;
  grid-template-areas: 
    "mc-queen-1 mc-queen-2 mate-1 mate-2"
    "luigi-1 luigi-2 sally-1 sally-2"
    "guido-1 guido-2 jackson-1 jackson-2"
    "hicks-1 hicks-2 fillmore-1 fillmore-2"
  ;
  animation: randomize-cards .1s infinite;
}

.mc-queen-card-1 {
  grid-area: mc-queen-1;
}

.mc-queen-card-2 {
  grid-area: mc-queen-2;
}

.mate-card-1 {
  grid-area: mate-1;
}

.mate-card-2 {
  grid-area: mate-2;
}
.luigi-card-1 {
  grid-area: luigi-1;
}

.luigi-card-2 {
  grid-area: luigi-2;
}

.sally-card-1 {
  grid-area: sally-1;
}

.sally-card-2 {
  grid-area: sally-2;
}

.guido-card-1 {
  grid-area: guido-1;
}

.guido-card-2 {
  grid-area: guido-2;
}

.jackson-card-1 {
  grid-area: jackson-1;
}

.jackson-card-2 {
  grid-area: jackson-2;
}

.hicks-card-1 {
  grid-area: hicks-1;
}

.hicks-card-2 {
  grid-area: hicks-2;
}

.fillmore-card-1 {
  grid-area: fillmore-1;
}

.fillmore-card-2 {
  grid-area: fillmore-2;
}

#game-randomizer:checked ~ .memorama-container {
  animation-play-state: paused;
}
#game-randomizer:checked ~ .start-modal{
  display: none;
}
