@keyframes randomize-cards {
  0% {
    grid-template-areas: 
      "nino-dios-1 maria-2 jose-1 melchor-2"
      "gaspar-1 baltazar-2 pastor-1 mula-buey-2"
      "maria-1 jose-2 melchor-1 nino-dios-2"
      "baltazar-1 gaspar-2 mula-buey-1 pastor-2"
      ;
  }
  25% {
    grid-template-areas: 
      "maria-1 nino-dios-2 melchor-1 jose-2"
      "gaspar-1 pastor-2 mula-buey-1 baltazar-2"
      "nino-dios-1 maria-2 jose-1 melchor-2"
      "pastor-1 gaspar-2 baltazar-1 mula-buey-2"
      ;
  }
  50% {
    grid-template-areas: 
      "gaspar-1 pastor-2 mula-buey-1 baltazar-2"
      "maria-1 nino-dios-2 melchor-1 jose-2"
      "pastor-1 gaspar-2 baltazar-1 mula-buey-2"
      "nino-dios-1 maria-2 jose-1 melchor-2"
      ;
  }
  75% {
    grid-template-areas: 
      "pastor-1 gaspar-2 baltazar-1 mula-buey-2"
      "gaspar-1 pastor-2 mula-buey-1 baltazar-2"
      "maria-1 nino-dios-2 melchor-1 jose-2"
      "nino-dios-1 maria-2 jose-1 melchor-2"
      ;
  }
  100% {
    grid-template-areas: 
      "melchor-1 jose-2 maria-1 nino-dios-2"
      "mula-buey-1 baltazar-2 gaspar-1 pastor-2"
      "jose-1 melchor-2 nino-dios-1 maria-2"
      "baltazar-1 mula-buey-2 pastor-1 gaspar-2"
      ;
  }
}
.memorama-container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    "nino-dios-1 maria-2 jose-1 melchor-2"
    "gaspar-1 baltazar-2 pastor-1 mula-buey-2"
    "maria-1 jose-2 melchor-1 nino-dios-2"
    "baltazar-1 gaspar-2 mula-buey-1 pastor-2"
    ;
  animation: randomize-cards .1s infinite;
  animation-delay: 1.52s;
}

.maria-card-1 {
  grid-area: maria-1;
}

.maria-card-2 {
  grid-area: maria-2;
}

.jose-card-1 {
  grid-area: jose-1;
}

.jose-card-2 {
  grid-area: jose-2;
}
.nino-dios-card-1 {
  grid-area: nino-dios-1;
}

.nino-dios-card-2 {
  grid-area: nino-dios-2;
}

.melchor-card-1 {
  grid-area: melchor-1;
}

.melchor-card-2 {
  grid-area: melchor-2;
}

.gaspar-card-1 {
  grid-area: gaspar-1;
}

.gaspar-card-2 {
  grid-area: gaspar-2;
}

.baltazar-card-1 {
  grid-area: baltazar-1;
}

.baltazar-card-2 {
  grid-area: baltazar-2;
}

.pastor-card-1 {
  grid-area: pastor-1;
}

.pastor-card-2 {
  grid-area: pastor-2;
}

.mula-buey-card-1 {
  grid-area: mula-buey-1;
}

.mula-buey-card-2 {
  grid-area: mula-buey-2;
}

#game-randomizer:checked ~ .memorama-container {
  animation-play-state: paused;
}
#game-randomizer:checked ~ .start-modal{
  animation: make-invisible .5s;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}
#game-randomizer:checked ~ .start-modal .start-button {
  pointer-events: none;
  animation: press-button .5s;
  animation-fill-mode: forwards;
}

@keyframes make-invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes press-button {
  0% {
    background-color: #f69907;
    border-bottom: 6px solid #a4660d;
  }
  25% {
    background-color: #a4660d;
    border-bottom: 4px solid #a4660d;
  }
  100% {
    background-color:#f69907;
    border-bottom: 4px solid #a4660d;
  }
}

@keyframes stop-animation {
  0% {
    animation-play-state: running;
  }
  100% {
    animation-play-state: paused;
  }
}