#Maria1:checked ~ .maria-card-1 .flip-card__inner,
#Maria2:checked ~ .maria-card-2 .flip-card__inner,
#Jose1:checked ~ .jose-card-1 .flip-card__inner,
#Jose2:checked ~ .jose-card-2 .flip-card__inner,
#Nino-Dios1:checked ~ .nino-dios-card-1 .flip-card__inner,
#Nino-Dios2:checked ~ .nino-dios-card-2 .flip-card__inner,
#Melchor1:checked ~ .melchor-card-1 .flip-card__inner,
#Melchor2:checked ~ .melchor-card-2 .flip-card__inner,
#Gaspar1:checked ~ .gaspar-card-1 .flip-card__inner,
#Gaspar2:checked ~ .gaspar-card-2 .flip-card__inner,
#Baltazar1:checked ~ .baltazar-card-1 .flip-card__inner,
#Baltazar2:checked ~ .baltazar-card-2 .flip-card__inner,
#Pastor1:checked ~ .pastor-card-1 .flip-card__inner,
#Pastor2:checked ~ .pastor-card-2 .flip-card__inner,
#Mula-Buey1:checked ~ .mula-buey-card-1 .flip-card__inner,
#Mula-Buey2:checked ~ .mula-buey-card-2 .flip-card__inner
 {
  transform: rotateY(180deg);
}

.flip-card__inner {
  transition: transform 0.3s  ease-in-out;
  transform-style: preserve-3d; 
}

.flip-card__inner-back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}