#Maria1:checked 
~ #Maria2:checked
~ #Jose1:checked
~ #Jose2:checked
~ #Nino-Dios1:checked
~ #Nino-Dios2:checked
~ #Melchor1:checked
~ #Melchor2:checked
~ #Gaspar1:checked
~ #Gaspar2:checked
~ #Baltazar1:checked
~ #Baltazar2:checked
~ #Pastor1:checked
~ #Pastor2:checked
~ #Mula-Buey1:checked
~ #Mula-Buey2:checked 
~ .win-modal-show {
  display: flex;
  animation: show-with-opacity 1s;
}

@keyframes show-with-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}